extends layout

<<<<<<< HEAD
    each quote in quotes
<<<<<<< HEAD
        li: label(for=quote.param)= getDate(quote.id)
=======
        li: label(for=quote.param)= getDate(2018, quote.id)
>>>>>>> 3ab3bb7d6d64c0aa110e907e165029be137a0f8b
        p= quote.id
        p= quote.quote
        p= quote.book
        p= quote.chapter
    
=======
block content
    div.image-wrapper
        img.logo--small(src="/Laxness.svg" alt="logo")
    h2.page-title Færslur
    include navbar
        table.table
            thead
                th #
                th Tilvitnun
                th Bók
                th Kafli
            tbody
                each quote in quotes
                        tr
                            td 
                                a(href='/api/update/' + quote.id)= quote.id
                            td= quote.quote
                            td= quote.book
                            td= quote.chapter
        
>>>>>>> 9319bacafd80737cf054e0f3da616f55b1d7bc40
