extends layout
block content

    each quote in quotes
        li: label(for=quote.param)= getDate(2018, quote.id)
        p= quote.id
        p= quote.quote
        p= quote.book
        p= quote.chapter
    
